* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    background-color: black;
    display: flex;
}
.header__logo {
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}
nav {
    margin-top: 56px;
    margin-left: 29%;
}
.topnav a {
    color: white;
    text-align: center;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;
}
.topnav a:hover {
    border-bottom: 3px solid #fcac45;
}
.topnav .icon {
    display: none;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .main__welcome {
    background: black;
    text-align: center;
    padding: 200px 0 410px 0;
}
main .main__welcome p {
    color: #999;
    font-size: 20px;
    margin-top: 30px;
}
main .main__welcome h1 {
    color: #999;
    font-size: 44px;
    font-weight: normal;
}
.mycompany {
    color: #fcac45;
    font-weight: bold;
}
.text-bold {
    font-weight: bold;
    color: #d4d4d4;
}
.wrapper {
    width: 76%;
    margin: 0 auto;
}
main .main__about {
    display: flex;
    padding: 100px 0;
}
.about__right {
    margin-left: 175px;
    width: 50%;
}
.about__right h1 {
    display: inline-block;
    padding-bottom: 20px;
    font-weight: normal;
}
.text-bold__black {
    font-weight: bold;
    font-style: normal;
}
.about__right p {
    margin: 30px 0px 50px 0px;
    color: #6c6c6c;
}
.about__right li {
    background: url(../img/mark.png) 0px no-repeat;
    padding-left: 25px;
    margin-top: 10px;
    color: #5a5a5a;
    font-style: italic;
}
.mw-100 {
    max-width: 100%;
}

.main__team {
    background: black;
    text-align: center;
    padding: 100px 0 165px 0;
    color: white;
}
.main__team h1 {
    font-size: 44px;
    padding-bottom: 30px;
}
h1:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100px;
    padding-top: 30px;
    border-bottom: 3px solid #fcac45;
}
.photo {
    background: #d7d7d7;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    margin: 20px auto;
}
.card {
    margin: 0 30px;
}
.team__cards {
    display: flex;
}
.name {
    font-size: 20px;
    margin-bottom: 7px;
}
.position {
    font-size: 16px;
    margin-bottom: 35px;
}
.about__position {
    font-size: 14px;
    font-weight: lighter;
}

.main__services h1 {
    text-align: center;
    padding: 100px 0 30px 0;
}
.main__services p {
    text-align: center;
    color: #6c6c6c;
    margin-bottom: 100px;
}
.services__cards {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
}
.services__card h4 {
    margin-top: 20px;
    margin-bottom: 15px;
}

.main__clients {
    background: black;
    padding: 100px 0 100px 0;
    color: white;
    text-align: center;
}
.main__clients h1 {
    font-weight: lighter;
    font-size: 44px;
    margin-bottom: 30px;
}
.text-normal {
    font-weight: bold;
}
.main__clients img {
    margin-left: 30px;
    margin-bottom: 50px;
}

.main__gallery {
    text-align: center;
    padding: 100px 0;
}
.main__gallery h1 {
    font-weight: lighter;
    margin-bottom: 30px;
}
.main__gallery p {
    margin-bottom: 100px;
    color: #6c6c6c;
}
.main__gallery img:hover {
    opacity: 0.8;
}

.main__testimonials {
    background: black;
    text-align: center;
    color: white;
    padding-bottom: 100px;
}
.main__testimonials h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 44px;
}
.text-lighter {
    font-weight: lighter;
}
.main__testimonials p {
    margin-bottom: 50px;
}
.testimotional {
    text-transform: uppercase;
}

.main__contact-form {
    text-align: center;
    padding: 100px 0;
}
.contact-wrapper {
    width: 750px;
    margin: 0 auto;
    color: black;
}
.main__contact-form h1 {
    font-size: 44px;
    padding-bottom: 30px;
}
.main__contact-form p {
    text-align: left;
}
.main__contact-form .contact-description {
    margin-bottom: 100px;
    color: #6c6c6c;
    text-align: center;
}
input {
    width: 370px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 30px;
}
.red {
    color: red;
}
.form__inputs {
    display: flex;
}
textarea {
    width: 100%;
    height: 150px;
    font-size: 20px;
}
input, textarea {
    border: 1px solid black;
    margin-top: 5px;
}
.button__block {
    display: flex;
    justify-content: center;
}
input[type=submit] {
    width: 165px;
    height: 40px;
    background: #fcac45;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}
input[type=submit]:hover {
    background: #f69952;
}

.footer {
    width: 100%;
    height: auto;
    background: #222;
}
.social {
    display: flex;
    justify-content: center;
}
.social img {
    margin-left: 12px;
    padding: 30px 0;
}
.social img:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1330px) {
    nav {
        margin-left: 20%;
    }
}
@media screen and (max-width: 1150px) {
    nav {
        margin-left: 10%;
    }
    .services__cards {
        grid-template-columns: auto auto;
    }
    .main__services p {
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 1010px) {
    .topnav a{
        display: none;
    }
    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: white;
        font-size: 25px;
    }
    nav {
        width: 100%;
    }
    .topnav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive {
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a{
        float: none;
        display: block;
        text-align: left;
    }


    main .main__welcome {
        padding: 50px 0 50px 0;
    }
    main .main__welcome p {
        font-size: 14px;
    }
    main .main__welcome h1 {
        font-size: 25px;
    }
    .mw-100 {
        max-width: 100%;
    }
    .main__about {
        flex-direction: column;
    }
    .about__left {
        text-align: center;
    }
    .about__right {
        text-align: center;
        margin-left: 0;
        width: 100%;
    }
    .about__right li {
        text-align: left;
    }
    .about__right h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .team__cards {
        flex-direction: column;
    }
    .main__clients h1 {
        font-size: 33px;
    }
    .line1 img:not(:first-child) {
        display: none;
    }
    .line2 img:not(:first-child) {
        display: none;
    }
    .line3 img:not(:first-child) {
        display: none;
    }
    .contact-wrapper {
        width: 500px
    }
    input {
        width: 244px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    textarea {
        width: 100%;
        height: 150px;
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    .services__cards {
        grid-template-columns: auto;
    }
}